{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rulemanager</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{%  static 'favicon.ico' %}">
<link rel="stylesheet" href="{%  static 'styles.12721885247ab2b3bb8c.css' %}"></head>
<body>
  <app-root></app-root>
  <script src="{%  static 'runtime.157939a6a535fa9d938e.js' %}" defer></script>
  <script src="{%  static 'polyfills.daf8130ab8f17a1b6340.js' %}" defer></script>
  <script src="{%  static 'main.3b8fd8c3c7ab4d0cd355.js' %}" defer></script>
</body>
</html>
